
$main-background-color: hsl(0, 0%, 10%);
$main-grey: hsl(0, 0%, 22%);
$sec-grey: #707070;
$third-grey: #A1A1A1;

$marker-red: #B02A2A;
$marker-blue: #2F46BA;

$main-font-size: 16px;

@mixin bg-border-color-marker ($color) {
    border: solid 1px $color + 25;
    background-color: $color;
}