@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import 'variables';

html {
  font-size: $main-font-size;
  color: white;
}

body {
  
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  margin: 0;
  padding: 0;

  a {
    text-decoration: white;
    transition: 0.2s ease;
  }
  a:hover {
    transform: scale(1.05);
  }
  a:focus{
    color:inherit;
  }
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  a:active {
    text-decoration: none;
    transform: scale(0.95);
    transition: 0.1s ease;
    color:inherit
  }
  background-image: url('./imgs/depositphotos_393833554-stock-photo-video-game-controller-gamepad-background.jpg');
  background-size: 400px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
