@import '../../variables';
.container {
    color: white;
    background-color: black;

    width: 100%;
    padding: 10px;
    //margin: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .links {
        width: 30%;

        display: flex;
        justify-content: space-around;
        align-items: baseline;
        div {
            &:hover {            
                text-shadow: 0 0 5px $marker-blue;
            }
        }
        .title {
            font-size: 1.25rem;
        }
    }
}