.container {
    width: 288px;
    height: 150px;

    margin: 0;

    background-size: 300px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column-reverse;

    .genresContainer {
        margin: 5px;
        display: flex;
        justify-content: start;

        color: white;
        background-color: #808080cc;
        

        .genres {
            margin: 3px;
            padding: 0;
        }
    }
    .title {
        margin: 5px;
        padding: 3px;

        color: white;
        background-color: #808080cc;
        

        font-size: larger;
    }


}
