.container {
    width: 300px;
    height: 150px;

    margin: 5px;

    background-size: 300px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column-reverse;

    .genresContainer {
        margin: 5px;
        display: flex;
        justify-content: center;

        color: white;
        background-color: grey;
        opacity: 80%;

        .genres {
            margin: 5px 0 0 0;
            padding: 0;
        }
    }
    .title {
        margin: 5px;
        padding: 3px;

        color: white;
        background-color: grey;
        opacity: 80%;

        font-size: larger;
    }


}
