.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .vgsContainer {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
    }
}